In [3]:
import sqlite3

connection = sqlite3.connect('data.db')
cursor = connection.cursor()

# Use INTEGER for auto increment
create_table = 'CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, username text, password text)'
cursor.execute(create_table)

connection.commit()
connection.close()

In [94]:
from flask import Flask, request, jsonify
from flask_restful import Resource, Api, reqparse

class UserRegister(Resource):
    def post(self):
        
        connection = sqlite3.connect('data.db')
        cursor = connection.cursor()
            
        data = UserRegister.validate_data(['username','password'],'This field cannot be left blank').parse_args()
        
        user_exists_query = "SELECT COUNT(*) FROM users WHERE username = ?"
        user_exists = cursor.execute(user_exists_query, (data['username'],)).fetchall()
                
        if user_exists[0][0] >= 1:
            return {'message': "A user with name '{}' already exists".format(data['username'])}, 400
        
        add_user_query = "INSERT INTO users VALUES (NULL, ?, ?)"
        cursor.execute(add_user_query, (data['username'], data['password']))
        
        connection.commit()
        connection.close()
        
        return {'message': "User '{}' created succesfully.".format(data['username'])}, 201
    
    @classmethod
    def validate_data(self, fields, message):
        parser = reqparse.RequestParser()  
        for field in fields:
            parser.add_argument(field, 
                            type=str, 
                            required=True, 
                            help=message
        )
        return parser

In [47]:
import sqlite3
connection = sqlite3.connect('data.db')
cursor = connection.cursor()
#type(cursor.execute("SELECT * FROM items"))
s = []
for i in cursor.execute("SELECT * FROM items").fetchall():
    print (i[1])
    s.append({'name':i[1],
             'price':i[2]})
s

bottle
big_chair
lamp
lamp
lamp
lamp
lamp
lamp
lamp
lamp

[{'name': 'bottle', 'price': 15.25},
 {'name': 'big_chair', 'price': 100.99},
 {'name': 'lamp', 'price': 29.87},
 {'name': 'lamp', 'price': 29.87},
 {'name': 'lamp', 'price': 29.87},
 {'name': 'lamp', 'price': 29.87},
 {'name': 'lamp', 'price': 29.87},
 {'name': 'lamp', 'price': 29.87},
 {'name': 'lamp', 'price': 29.87},
 {'name': 'lamp', 'price': 29.87}]

In [24]:
import sqlite3
connection = sqlite3.connect('data.db')
cursor = connection.cursor()
query = "DELETE FROM items WHERE name = ?"

x = cursor.execute(query, ('table',))
connection.commit()
connection.total_changes

for i in cursor.execute("SELECT * FROM items"):
    print (i)

In [25]:
connection.total_changes

2

In [28]:
import sqlite3
connection = sqlite3.connect('data.db')
cursor = connection.cursor()
query = "UPDATE items SET name = ? WHERE name = ?"
x = cursor.execute(query, ('big_chair', 'chair'))
connection.commit()
connection.total_changes

1

In [30]:
f = "Tym"
l = "Zon"
print("First name: {}, last name {} ".format(f,l))

First name: Tym, last name Zon

In [93]:
query = "SELECT COUNT(*) FROM users WHERE username = ?"
#query = "SELECT * FROM users"

x = cursor.execute(query, ('bo2bas',)).fetchall()
if x[0][0] >= 1:
    print("EX")
else:
    print("NOT")

NOT

In [4]:
import sqlite3
connection = sqlite3.connect('data.db')
cursor = connection.cursor()
cursor.execute("INSERT INTO items VALUES(NULL, 'plate', 10.25)")
connection.commit()

for i in cursor.execute("SELECT * FROM items"):
    print (i)

(1, 'plate', 10.25)