In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [4]:
my_list[:-1]

[1, 2]

In [5]:
len(my_list)

3

In [6]:
len(my_list)

3

In [7]:
my_list = ['string', 23, 1.2, 'o']

In [8]:
my_list

['string', 23, 1.2, 'o']

In [9]:
my_list = ['one','two','three',4,5]

In [10]:
my_list[0]

'one'

In [11]:
my_list[1:]

['two', 'three', 4, 5]

In [12]:
my_list[::-1]

[5, 4, 'three', 'two', 'one']

In [13]:
my_list[:3]

['one', 'two', 'three']

In [14]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [15]:
x = 12345
my_list+x

TypeError: can only concatenate list (not "int") to list

In [16]:
my_list+[x]

['one', 'two', 'three', 4, 5, 12345]

In [19]:
my_list = my_list+[x]

In [20]:
my_list

['one', 'two', 'three', 4, 5, 12345]

In [23]:
my_list.insert([0,'Added new Object'])

TypeError: insert() takes exactly 2 arguments (1 given)

In [24]:
my_list.append('appned me')

In [25]:
my_list

['one', 'two', 'three', 4, 5, 12345, 'appned me']

In [26]:
my_list.insert(0,'test me')

In [27]:
my_list

['test me', 'one', 'two', 'three', 4, 5, 12345, 'appned me']

In [28]:
my_list.pop

In [29]:
my_list

['test me', 'one', 'two', 'three', 4, 5, 12345, 'appned me']

In [30]:
my_list.pop(0)

'test me'

In [31]:
my_list

['one', 'two', 'three', 4, 5, 12345, 'appned me']

In [32]:
new_list = ['a','e','x','b','c']

In [33]:
new_list

['a', 'e', 'x', 'b', 'c']

In [34]:
new_list.reverse()

In [35]:
new_list

['c', 'b', 'x', 'e', 'a']

In [36]:
new_list.sort()

In [37]:
new_list

['a', 'b', 'c', 'e', 'x']

In [38]:
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

In [39]:
MATRIX = [l_1,l_2,l_3]

In [40]:
MATRIX

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
MATRIX[0]

[1, 2, 3]

In [42]:
MATRIX[0][0]

1