In [1]:
import pandas
import xlrd

In [2]:
import os

In [9]:
df_csv = pandas.read_csv("supermarkets.csv")
df_json = pandas.read_json("supermarkets.json")
df_excel = pandas.read_excel("supermarkets.xlsx", sheet_name=0)

In [10]:
df_comma_txt = pandas.read_csv("supermarkets-commas.txt")

In [16]:
df_semi_txt = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")

In [19]:
df_web_csv = pandas.read_csv("http://pythonhow.com/supermarkets.csv")

In [21]:
df_json

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [27]:
df_json

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [24]:
df_json

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [154]:
df_json

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [291]:
df = df_json.iloc[1,5:6]

In [294]:
df[0]

'CA 94119'

In [271]:
lst = [1,2,3]

In [274]:
lst.insert(0,12)

In [275]:
lst

[12, 1, 2, 3, 5]

In [300]:
lst = []
for index in range(len(df_json.index)):
    #print(list(df_json.iloc[index,0:0].name) + list(df_json.ix[index,"City":"Country"]))
    lst = list(df_json.ix[index,"City":"Country"])
    lst.insert(0, df_json.iloc[index,0:0].name)
    df = df_json.iloc[1,5:6]
    lst.append(df[0])
    print(lst)

['3666 21st St', 'San Francisco', 'USA', 'CA 94119']
['735 Dolores St', 'San Francisco', 'USA', 'CA 94119']
['332 Hill St', 'San Francisco', 'USA', 'CA 94119']
['3995 23rd St', 'San Francisco', 'USA', 'CA 94119']
['1056 Sanchez St', 'San Francisco', 'USA', 'CA 94119']
['551 Alvarado St', 'San Francisco', 'USA', 'CA 94119']

['State', 'Country', 'City']