In [35]:
import pandas
import xlrd
import geopy
from geopy import geocoders
df_csv = pandas.read_csv("supermarkets.csv")
df_json = pandas.read_json("supermarkets.json")
df_excel = pandas.read_excel("supermarkets.xlsx", sheet_name=0)
df_comma_txt = pandas.read_csv("supermarkets-commas.txt")
df_semi_txt = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df_web_csv = pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df_web_json = pandas.read_json("http://pythonhow.com/supermarkets.json")
df_json = df_json.set_index("Address")

In [177]:
from geopy.geocoders import Nominatim
nom = Nominatim()
l = nom.geocode('9 Shearman St, Attadale, WA')
l

In [174]:
from collections import OrderedDict
import requests
import shapefile
def nominatim_query(query):
    params = OrderedDict()
    params['format'] = 'json'
    params['limit'] = 1
    params['dedupe'] = 0
    params['polygon_geojson'] = 1
    params['q'] = query

    url = 'https://nominatim.openstreetmap.org/search'
    prepared_url = requests.Request('GET', url, params=params).prepare().url

    response = requests.get(url, params=params)
    response_json = response.json()
    print(response_json)
    return shape(response_json[0]['geojson'])

In [175]:
l = nominatim_query("Ocland, CA")
l

[]

NameError: name 'shape' is not defined

In [104]:
def get_address_location(addresses):
    
    g = geocoders.GoogleV3()
    location_list = []
    for address in addresses:
        location_list.append(g.geocode(address, timeout=10))
    
    #create an input address string
    #you can also build this by reading from an input database and building a string
    inputAddress = address 
    
    #do the geocode
    #loc_info = g.geocode(inputAddress, timeout=10)
    return location_list

In [105]:
def update_shopping_list():
    address_list = []
    for index in range(len(df_json.index)):
        lst = list(df_json.ix[index,"City":"Country"])
        lst.insert(0, df_json.iloc[index,0:0].name)
        df = df_json.iloc[1,5:6]
        lst.append(df[0])
        address_list.append(",".join(str(x) for x in lst))
    return address_list

In [106]:
l = get_address_location(update_shopping_list())
lats = []
longs = []
for loc in l:
    # location.latitude
    lats.append(loc.latitude)
    longs.append(loc.longitude)
insert_lat_longs(lats, longs)

In [ ]:
l = ['Tym','Zon']
str1 = ",".join(str(x) for x in l)

In [ ]:
str1

In [107]:
def insert_lat_longs(lats, longs):
    df_json["Lat"]=[lat for lat in lats]
    df_json["Long"]=[long for long in longs]

In [108]:
df_json

,City,Country,Employees,ID,Name,State,Lat,Long
Address,,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,37.756633,-122.429422
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,37.757819,-122.425337
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,37.755875,-122.428816
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,37.752935,-122.431722
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,37.752131,-122.430028
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,37.753511,-122.433229

In [109]:
df_geo = df_web_json

In [110]:
df_geo

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [144]:
df_geo_address = df_geo
df_geo_address.set_index("Address")
df_geo_address["Address"]=df_geo['Address']+", "+df_geo["City"]+", "+df_geo["State"]+", "+df_geo["Country"]
df_geo_address

,Address,City,Country,Employees,ID,Name,State
0,"3666 21st St, San Francisco, CA 94114USA, San ...",San Francisco,USA,8,1,Madeira,CA 94114
1,"735 Dolores St, San Francisco, CA 94119USA, Sa...",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"332 Hill St, San Francisco, California 94114US...",San Francisco,USA,25,3,Super River,California 94114
3,"3995 23rd St, San Francisco, CA 94114USA, San ...",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"1056 Sanchez St, San Francisco, CaliforniaUSA,...",San Francisco,USA,12,5,Sanchez,California
5,"551 Alvarado St, San Francisco, CA 94114USA, S...",San Francisco,USA,20,6,Richvalley,CA 94114

In [141]:

df_geo["Coordinates"]=df_geo_address[Address].apply(non.geocode)

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [132]:
len(df_geo.index)

6

In [135]:
addresses = []
for k in range(len(df_geo.index)):
    addresses.append(df_geo['Address']+", "+df_geo["City"]+", "+df_geo["State"])

TypeError: append() takes exactly one argument (0 given)