In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import webbrowser
website="https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records"
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East

In [6]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [8]:
nfl_frame.Team

0             Dallas Cowboys
1          Green Bay Packers
2              Chicago Bears
3             Miami Dolphins
4    New England Patriots[b]
Name: Team, dtype: object

In [9]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [18]:
DataFrame(nfl_frame,columns=['Team', 'First NFL Season', 'Total Games','Stadium'])

                      Team  First NFL Season Total Games  Stadium
0           Dallas Cowboys              1960         882      NaN
1        Green Bay Packers              1921       1,336      NaN
2            Chicago Bears              1920       1,370      NaN
3           Miami Dolphins              1966         800      NaN
4  New England Patriots[b]              1960         884      NaN

In [19]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East

In [27]:
nfl_frame.tail(1)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,Levi's Stadium

In [26]:
lst = list(nfl_frame.ix[3])
type(lst)

list

In [28]:
#[(A_Val if cond else B_Val) for A_Val,B_Val,cond in zip(A,B,condition)]
nfl_frame['Stadium']="Levi's Stadium"

In [29]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,Levi's Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,Levi's Stadium
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,Levi's Stadium
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,Levi's Stadium
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,Levi's Stadium

In [31]:
nfl_frame['Stadium'] = np.arange(5)

In [32]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,0
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,1
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,2
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,3
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,4

In [38]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"],index=[0,2])
stadiums

0    Levi's Stadium
2      AT&T Stadium
dtype: object

In [39]:
nfl_frame['Stadium']=stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,Levi's Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,NaN
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,AT&T Stadium
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,NaN
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,NaN

In [42]:
data = {'City':['SF','LA','NYC'], 'Population':[837000,3888000,8400000]}

In [43]:
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3888000
2  NYC     8400000