In [25]:
import pandas
import xlrd
df_csv = pandas.read_csv("supermarkets.csv")
df_json = pandas.read_json("supermarkets.json")
df_excel = pandas.read_excel("supermarkets.xlsx", sheet_name=0)
df_comma_txt = pandas.read_csv("supermarkets-commas.txt")
df_semi_txt = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df_web_csv = pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df_web_json = pandas.read_json("http://pythonhow.com/supermarkets.json")
df_json = df_json.set_index("Address")

In [36]:
df_json["Countinent"]=["North America" for x in range(len(df_json.index))]

In [40]:
df_json["Hempsphere"]=df_json.shape[0]*["Western"]

In [57]:
df_json_t = df_json.T

In [58]:
df_json_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,9 SHearman Street,9 Shearman Street
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,Western,Attadale
Country,USA,USA,USA,USA,USA,USA,Western,Australia
Employees,8,15,25,10,12,20,Western,12
ID,1,2,3,4,5,6,Western,18
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,Western,IGA
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,Western,"WA, 6156"
Countinent,North America,North America,North America,North America,North America,North America,Western,Australia
Hempsphere,Western,Western,Western,Western,Western,Western,Western,Southern

In [59]:
df_json_t.shape

(8, 8)

In [65]:
df_json_t["9 Shearman Street"]=["New York"]+list(df_json.iloc[5,1:])

In [66]:
df_json = df_json_t.T

In [70]:
df_json.drop("9 SHearman Street", 0)

,City,Country,Employees,ID,Name,State,Countinent,Hempsphere
Address,,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America,Western
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America,Western
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America,Western
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,Western
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America,Western
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America,Western
9 Shearman Street,New York,USA,20,6,Richvalley,CA 94114,North America,Western

In [72]:
for index in range(len(df_json.index)):

SyntaxError: unexpected EOF while parsing (<ipython-input-72-668a7e5d09f4>, line 1)