In [1]:
import pandas

In [13]:
df = pandas.DataFrame([[2,4,6],[10,20,30]], columns=["Price","Page","Value"], index=["First", "Second"])

In [14]:
df

        Price  Page  Value
First       2     4      6
Second     10    20     30

In [17]:
df.mean().mean()

12.0

In [22]:
df.sum().sum()/6

12.0

In [32]:
df.index([1,2])

TypeError: 'Index' object is not callable

In [33]:
df.index

Index(['First', 'Second'], dtype='object')

In [35]:
df=pandas.read_csv("C:\\Users\\H088750\\Downloads\\Availability_of_primary_sources_of_conventional_energy_upto_year_2012-13.csv")

In [36]:
df

,Year,Coal (Million Tonnes),Lignite (Million Tonnes),Crude Petroleum (Million Tonnes),Natural Gas (Billion Cubic Metres),Electricity* -Hydro & Nuclear (GWh)
0,2000-01,325.448,30.09,106.523,96.52,471868
1,2001-02,343.120,24.57,110.740,28.04,93054
2,2002-03,361.750,26.03,115.030,29.96,83404
3,2003-04,379.410,28.48,123.810,30.91,93022
4,2004-05,404.690,30.09,129.840,30.78,101621
5,2005-06,433.270,66.84,130.110,31.33,592194
6,2006-07,462.353,72.34,146.550,30.79,639008
7,2007-08,502.818,82.82,156.100,31.48,689780
8,2008-09,549.570,89.19,160.770,31.75,712540
9,2009-10,585.300,105.21,192.770,46.52,761934
10,2010-11,589.870,102.20,196.990,51.25,809455
11,2011-12,638.840,139.44,204.120,46.48,811506
12,2012-13(P),704.340,46.05,219.210,39.78,908574

In [37]:
df.mean()

Coal (Million Tonnes)                     483.136846
Lignite (Million Tonnes)                   64.873077
Crude Petroleum (Million Tonnes)          153.274077
Natural Gas (Billion Cubic Metres)         40.430000
Electricity* -Hydro & Nuclear (GWh)    520612.307692
dtype: float64

In [40]:
df.columns()

TypeError: 'Index' object is not callable