In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2 = ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger = range(15)
ranger
ser3 = ser3.reindex(ranger,method='ffill')
ser3

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [22]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.523508  0.724099 -1.030074  0.108817 -1.629702
B -0.570463  0.025627 -0.345263  1.307419 -1.537123
D -1.591291  0.320217 -0.747512  0.416695  1.630371
E  0.753209 -1.625260  0.105775  1.058682 -0.332382
F  0.479446 -0.486584  0.988212 -0.982704 -0.240186

In [23]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [24]:
dframe2

       col1      col2      col3      col4      col5
A  0.523508  0.724099 -1.030074  0.108817 -1.629702
B -0.570463  0.025627 -0.345263  1.307419 -1.537123
C       NaN       NaN       NaN       NaN       NaN
D -1.591291  0.320217 -0.747512  0.416695  1.630371
E  0.753209 -1.625260  0.105775  1.058682 -0.332382
F  0.479446 -0.486584  0.988212 -0.982704 -0.240186

In [25]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [27]:
dframe2 = dframe2.reindex(columns=new_columns)
dframe2

       col1      col2      col3      col4      col5  col6
A  0.523508  0.724099 -1.030074  0.108817 -1.629702   NaN
B -0.570463  0.025627 -0.345263  1.307419 -1.537123   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.591291  0.320217 -0.747512  0.416695  1.630371   NaN
E  0.753209 -1.625260  0.105775  1.058682 -0.332382   NaN
F  0.479446 -0.486584  0.988212 -0.982704 -0.240186   NaN

In [35]:
dframe

       col1      col2      col3      col4      col5
A  0.523508  0.724099 -1.030074  0.108817 -1.629702
B -0.570463  0.025627 -0.345263  1.307419 -1.537123
D -1.591291  0.320217 -0.747512  0.416695  1.630371
E  0.753209 -1.625260  0.105775  1.058682 -0.332382
F  0.479446 -0.486584  0.988212 -0.982704 -0.240186

In [41]:
dframe.ix(['A','B','C','D','E','F'],new_columns)

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given