In [19]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn
from IPython.display import YouTubeVideo
from pandas_datareader import data, wb
import pandas_datareader as pdweb
import datetime
import seaborn as sns
import matplotlib.pyplot as plt 
from seaborn.regression import coefplot
import sys

In [6]:
dframe = pd.read_csv('lec25.csv', header=None)

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [17]:
dframe.iloc[[0, 3], dframe.columns.get_loc(4)]

0    apple
3      dog
Name: 4, dtype: object

In [18]:
dframe.to_csv('mytextdata.csv')

In [21]:
dframe.to_csv(sys.stdout,sep='|')

|0|1|2|3|4
0|q|r|s|t|apple
1|2|3|4|5|pear
2|a|s|d|f|rabbit
3|5|2|5|7|dog

In [23]:
dframe.to_csv(sys.stdout,columns=[3,4])

,3,4
0,t,apple
1,5,pear
2,f,rabbit
3,7,dog

In [ ]:
#You should also check out pythons built-in csv reader and writer for more info:
# https://docs.python.org/2/library/csv.html