In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn
from IPython.display import YouTubeVideo
from pandas_datareader import data, wb
import pandas_datareader as pdweb
import datetime
import seaborn as sns
import matplotlib.pyplot as plt 
from seaborn.regression import coefplot
import sys

In [4]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                   index=pd.Index(['LA','SF'],name='city'),columns=pd.Index(['A','B','C','D'],name='letter'))

In [5]:
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7